    @Path("{{ url }}")
    @{{ method }}
    public {{ response_type }} {{ name }}({{ param_list }}) throws Exception {
        throw new RuntimeException("Not implemented: {{ name }}");
    }

