    private void {{ name }}(RoutingContext ctx, NoDatabaseImpl impl) throws Exception {
        HttpServerRequest req = ctx.request();
        {% if params or body %}
        MultiMap params = req.params();
        {% for p in params %}
        {{ p.java_type }} {{ p.java_name }} = {{ p.conv }};
        {% endfor %}
        {% if body %}
        {{ body.java_type }} {{ body.java_name }} = {{ body.conv }};
        {% endif %}
        {% endif %}
        {% if returns_void %}
        impl.{{ backend_method_name }}({{ arg_list }});
        req.response().end("true");
        {% else %}
        {{ resp_type }} _value = impl.{{ backend_method_name }}({{ arg_list }});
        String result = mapper.writeValueAsString(_value);
        req.response().end(result);
        {% endif %}
    }

